body {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay-mask {
  position: fixed; 
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 10; 
  cursor: pointer;
}

form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
}

.close-btn{
  position: relative;
  left: 250px;
  top: -20px;
}

.slider{
  position: relative;
  width: 300px;
  height: 5px;
  background-color: red;
}
